.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 1px 15px 1px 15px;
  height: 7vh;
}

.nav-item-container {
  display: flex;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.header-icon {
  padding-right: 0.7vh;
  position:relative;
  top: 0.3vh;
}

span {
  font-size: medium;
}